<h4><a href="/posts"><button class="blue">take me to all posts now</button></a></h4>



<h3>Or navigate to any of the following tags to view by category:</h3>
<ul class="two-column-list">
<% @tags.each do |tag| %>
<li><a href="/tag/<%= tag.name %>"><button><%= tag.name %></button></a></li>
<% end %>
</ul>

