<div class="content-container">
<h1 class='title'>Recent Posts:</h1>
<ul class="posts-list">
  <% @posts.each do |post| %>
  <li><a href="/posts/<%= post.id %>">
    <%= post.title %>
  </a></li>
  <% end %>


</ul>

</div>



