



<div class='right-outer'>
  <h3>Tags:</h3>
<ul class="right-sidebar">
<% @tags.each do |tag| %>
<li><a href="/tag/<%= tag.name %>"><button class='blue'><%= tag.name %></button></a></li>
<% end %>
</ul>
</div>
