<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body class="container">
  <div>
    <ul class="top-bar">
      <li><a href="/"><button class="blue">Chris' Blog Site</button></a></li>
      <% if session[:user_id] %>
        <li><a href="/user/<%= session[:user_id] %>"><button class='green'>posts by <%= session[:user_name] %></button></a></li>
        <li><a href="/logout"><button class='red'>logout</button></a></li>
        <li><a href="/create_post"><button class='blue'>create a post</button></a></li>
      <% else %>
        <li><a href="/login"><button class="green">login</button></a></li>
        <li><a href="/create_user"><button class="green">create account</button></a></li>
      <% end %>
      <li><a href="/posts"><button class='blue'>all posts</button></a></li>
      
    </ul>
  </div>
  <br><br>
  <%= yield %>
</body>
</html>
