
<h1 class='title'>Posts archive:</h1>

<ul class='posts-list'>
  <% @posts.each do |post| %>
  <li><a href="/posts/<%= post.id %>"><%= post.title %></a></li>
<% end %>
</ul>

<ul class='top-bar'>
  <% page_count.times do |i| %>
  <li><a href="/posts/page/<%= i + 1 %>"><%= i + 1 %></a></li>
  <% end %>
</ul>
