<h2 class='title'>Here are all posts by <%= @user.name %>:</h2>

<ul class='posts-list'>
  <% @posts.each do |post| %>
  <li><a href="/posts/<%= post.id %>"><%= post.title %></a></li>
  <% end %>
</ul>

<h4 class='title'>Contact at <%= @user.email %>:</h4>
